       <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 id="current-age" class="w3-center"></h4>
         <div id="nights-lived" class="w3-center" title="Moons"></div>
         <p class="w3-center"><img src="https://64.media.tumblr.com/06be4be00ddb1f20e627b8f8b41caeb9/tumblr_o68u0vgd0p1qkpz2go1_r1_400.gif" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <div id="esperanceHP" class="progress-container" title="❤️ Health">
          <div class="progress-bar"></div>
         </div><br>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>