<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Incluye los metadatos y archivos de estilo comunes -->
  <% include('../includes/head.ejs') %>
  <script>
    function onSubmit(token) {
      document.getElementById("signup-form").submit();
    }
  </script>
</head>
<body>
  <!-- Navegación -->
  <% include('../includes/navigation.ejs') %>

  <div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-container">
      <% if (errorMessage) { %>
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= errorMessage %></p>
        </div>
      <% } %>

      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">
          <h3 class="uk-text-center">Sign-Up</h3>
          <form id="signup-form" action="/signup" method="POST" novalidate>
            <div class="uk-margin">
              <label for="email" class="ui-text-field">Email</label>
              <input name="email" id="email" class="ui-input uk-input uk-form-medium" type="email" value="<%= oldInput.email %>" required>
            </div>
            <div class="uk-margin">
              <label for="password" class="ui-text-field">Password</label>
              <input name="password" id="password" class="ui-input uk-input uk-form-medium" type="password" value="<%= oldInput.password %>" required>
            </div>
            <div class="uk-margin">
              <label for="confirmPassword" class="ui-text-field">Confirm Password</label>
              <input name="confirmPassword" id="confirmPassword" class="ui-input uk-input uk-form-medium" type="password" value="<%= oldInput.confirmPassword %>" required>
            </div>
            <button type="submit" class="uk-button uk-button-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie de página y scripts -->
  <% include('../includes/end.ejs') %>
</body>
</html>
