<!-- social -->
<!-- YouTube -->
<a class="fa-brands fa-youtube" href="https://www.youtube.com/channel/UC53j2mdxUAIH5deJV68aelw?sub_confirmation=1" target="_blank" rel="noopener noreferrer" title="Suivez-moi sur YouTube"></a>
<!-- Meta -->
<a class="fa-brands fa-instagram" href="https://instagram.com/patrickalexandreassis" target="_blank" rel="noopener noreferrer" title="Suivez-moi sur Instagram"></a>
<a class="fa-brands fa-facebook" href="https://www.facebook.com/PatrickAlexandreAssis/" target="_blank" rel="noopener noreferrer" title="Suivez-moi sur Facebook"></a>
<!-- Others platforms --> | 
<a class="fa-brands fa-tiktok" href="https://tiktok.com/@patrickalexandreassis" target="_blank" rel="noopener noreferrer" title="Suivez-moi sur TikTok"></a>
<a class="fa-brands fa-snapchat" href="https://www.snapchat.com/add/bon0bo" target="_blank" rel="noopener noreferrer" title="Ajoutez-moi sur Snapchat"></a>
<a class="fa-brands fa-telegram" href="https://t.me/+WzqhNRJNxCtkNDk0" target="_blank" rel="noopener noreferrer" title="Rejoignez-moi sur Telegram"></a>
<!-- revenue:creator-economy --> | 
<a class="fa-brands fa-paypal" href="https://paypal.me/PatrickAssis" target="_blank" rel="noopener noreferrer" title="Soutenez-moi sur PayPal"></a>
<a class="fa-brands fa-spotify" href="https://open.spotify.com/user/9wx2a30jirb70h48nxx9dhbjg" target="_blank" rel="noopener noreferrer" title="Écoutez ma musique sur Spotify"></a>