<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Découvrez comment Infini peut révolutionner votre entreprise avec des solutions numériques sur mesure. Du développement web à la création de marque, profitez d'une consultation gratuite pour transformer votre présence en ligne.">
  <meta name="google-signin-client_id" content="928035104233-rp700o5epnsbnurbgc7k2bua1e6ngff2.apps.googleusercontent.com">
  <title><%= pageTitle %></title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/uikit-custom.css" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/ui.css" />
  <link rel="stylesheet" href="../css/HumanFortr.css">

  <script src="https://kit.fontawesome.com/be85c9a798.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit-icons.min.js"></script>
  <script async src="https://www.google.com/recaptcha/api.js"></script>