       <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container w3-padding">
            <h6 class="w3-opacity">Investigation</h6>
            <p>Perform an email or a phone reverse lookup on our OSINT tool to uncover all social media profiles.</p>
            <p><input required="" id="email-investigation" placeholder="test@example.com" class="" type="email" autocomplete="email" style="max-width: 100%;"></p>
            <p><input required="" id="tel-investigation" placeholder="+33601020304" class="" type="tel" autocomplete="tel" style="max-width: 100%;"></p>
            <button type="button" class="w3-button w3-theme" onclick="investigation()"><i class="fa fa-magnifying-glass"></i> Search</button>
        </div>
      </div>