       <div class="w3-card w3-round w3-white w3-center w3-margin w3-padding-16">
        <div class="w3-container w3-padding">
            <h5 class="w3-opacity" title="OSINT tool to uncover all social media profiles">Uncover What You're Missing <i class="fa-solid fa-user-secret"></i> One Click to Reveal Hidden Profiles</h5>
            <span class="w3-hide-small">Discover connections with our </span><p class="w3-opacity"> email or phone reverse lookup feature.</p>
            <p><input required="" id="email-investigation" placeholder="test@example.com" class="w3-border" type="email" autocomplete="email" style="max-width: 100%;"></p>
            <p><input required="" id="tel-investigation" placeholder="+33601020304" class="w3-border" type="tel" autocomplete="tel" style="max-width: 100%;"></p>
            <button type="button" class="w3-button w3-theme" onclick="investigation()"><i class="fa fa-magnifying-glass"></i> Search</button>
        </div>
      </div>