<nav>
  <a class="<%= path === '/' ? 'active' : '' %>" href="/" title="Démarrer"><i class="fa-solid fa-power-off"></i> </a> <!-- VOTRE_Nom -->
  <a class="<%= path === '/' ? 'active' : '' %>" href="/services">Services</a> <!-- VOTRE_Nom -->
</nav>
