<div id="Feeling">
    <!-- Optimisation Émotionnelle -->
    <select id="emotionSelect" onchange="updateSolution()">
    <option value="" selected disabled hidden>Feeling</option>
        <option value="overthinking">Surpensée</option>
        <option value="anxious">Anxieux</option>
        <option value="tired">Fatigué</option>
        <option value="sad">Triste</option>
        <option value="stressed">Stressé</option>
        <option value="angry">En colère</option>
        <option value="lazy">Paresseux</option>
        <option value="burntout">Épuisé</option>
    </select>
    <div id="solution"></div>
</div>
<script src="images/Comportement/Emotions.js"></script>
