<!-- Sign Up Form -->
<form id="signup-form" action="/signup" method="POST" novalidate>
    <!-- Email Input -->
    <div class="w3-margin-bottom">
        <label for="email" class="w3-text-grey">Email</label>
        <input name="email" id="email" class="w3-input w3-border w3-round" type="email" required>
    </div>
    <!-- Password Input -->
    <div class="w3-margin-bottom">
        <label for="password" class="w3-text-grey">Password</label>
        <input name="password" id="password" class="w3-input w3-border w3-round" type="password" required>
    </div>
    <!-- Confirm Password Input -->
    <div class="w3-margin-bottom">
        <label for="confirmPassword" class="w3-text-grey">Confirm Password</label>
        <input name="confirmPassword" id="confirmPassword" class="w3-input w3-border w3-round" type="password" required>
    </div>
    <!-- Submit Button -->
    <div>
        <button class="w3-button w3-theme w3-round" type="submit" data-action="submit">Save Game</button>
    </div>
</form>


