<style>
    .profile-section {
display: flex;
border: 1px solid #ccc; /* Bordure pour la section profil */
padding: 10px;
align-items: center; /* Centrage vertical des éléments */
}

.avatar {
flex: 1; /* L'avatar prend 1 portion de l'espace disponible */
display: flex;
justify-content: center;
align-items: center;
}

.player-info {
flex: 2; /* Les informations prennent 2 portions */
display: flex;
flex-direction: column;
justify-content: space-around; /* Espacement vertical entre les sous-sections */
}

}

</style>

<div class="profile-section w3-black" title="たまごっち" style="width:300px;">

    <!-- Avatar -->
    <div class="avatar">
        <img src="https://i.gifer.com/6Dg.gif" alt="Avatar" style="height:106px;width:106px">
    </div>

    <!-- Informations du joueur, grille ou colonne -->
    <div class="player-info w3-center">

        <!-- ID joueur -->
        <div class="name-section">
   
        </div>
        
        <div class="progress-section">
            
            <div class="w3-hide"><!-- Barre de progression -->
                <div class="w3-container w3-blue w3-padding w3-center" style="width:65%">65%</div>
                <div class="w3-container w3-red w3-padding w3-center" style="width:85%">85 k</div>
            </div>
        </div>

          
    </div>

</div>


<div class="w3-card"><!-- ProgressBar ❤️🍗 -->



    <!-- Time, money, health => (Bleu, Vert, Blanc.)(Anneau, Vertical, Horizontal. STATUS)
    <br>
    
    <div class="w3-hide progress-container health">
        <div class="progress-bar bg-druid" role="progressbar" style="width: 80%;" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1">
            kCalories <span id="calorieCount">2275</span>
        </div>
    </div>

    <div class="w3-hide progress-container mana">
        <div class="progress-bar bg-paladin" style="width: 1%;">
        Dopamine <span id="">1</span> / 40
        </div> 
    </div>      
    -->

</div>













