<div class="character-bar w3-card w3-round w3-theme-l5 w3-padding-large w3-margin-bottom">
    <iframe src="https://www.google.com/maps/embed?pb=!4v1614665800225!6m8!1m7!1sCAoSLEFGMVFpcE5Dak9fY3ROaUZkZ0F3R1MtTDNzMWZjQk5oV1l3d0N6UHBJN0J3!2m2!1d38.787587279589205!2d-9.390556084601305!3f0!4f0!5f0.7820865974627469" class="w3-hide" width="100%" height="250" style="border-radius:20px;" allowfullscreen="" loading="lazy"></iframe>
    <div class="profile-section w3-left-align" title="Tamagotchi (たまごっち)">
        <!-- <img src="https://64.media.tumblr.com/06be4be00ddb1f20e627b8f8b41caeb9/tumblr_o68u0vgd0p1qkpz2go1_r1_400.gif" alt="Avatar" class="profile-avatar w3-circle" style="height:106px;width:106px"> -->
        <img src="https://i.gifer.com/6Dg.gif" alt="Avatar" class="profile-avatar w3-circle" style="height:106px;width:106px">
        <strong contenteditable="true" class="user-name">John Doe</strong>
        <div id="current-age" class="level-info  w3-text-grey">0</div>
    </div>

    <div class="info-section">

        <div id="esperanceHP" class="progress-container" title="❤️ Health">
            <div class="progress-bar"></div>
        </div>

        <div id="energy-bar" class="progress-bar progress-border progress-container bg-rogue" style="width: 40%;"><div id="BirthDateIs">Energy</div></div>
        <div class="w3-hide progress-container health">
            <div class="progress-bar bg-druid" role="progressbar" style="width: 80%;" aria-valuemin="0" aria-valuemax="100" aria-valuenow="1">
                kCalories <span id="calorieCount">2275</span>
            </div>
        </div>

        <div class="w3-hide progress-container mana">
            <div class="progress-bar bg-paladin" style="width: 1%;">
            Dopamine <span id="">1</span> / 40
            </div> 
        </div>

    </div>
    

<script src="/js/LifeTimeCalory.js"></script>
</div>










