
.c1,.c1 a {
    color: #c69b6d !important
}

option.c1:checked {
    background: #c69b6d !important;
    color: #282828 !important
}

.c1-alt,.c1-alt a {
    color: #c69b6d !important
}

option.c1-alt:checked {
    background: #c69b6d !important;
    color: #282828 !important
}

.c2,.c2 a {
    color: #f48cba !important
}

option.c2:checked {
    background: #f48cba !important;
    color: #282828 !important
}

.c2-alt,.c2-alt a {
    color: #f48cba !important
}

option.c2-alt:checked {
    background: #f48cba !important;
    color: #282828 !important
}

.c3,.c3 a {
    color: #aad372 !important
}

option.c3:checked {
    background: #aad372 !important;
    color: #282828 !important
}

.c3-alt,.c3-alt a {
    color: #aad372 !important
}

option.c3-alt:checked {
    background: #aad372 !important;
    color: #282828 !important
}

.c4,.c4 a {
    color: #fff468 !important
}

option.c4:checked {
    background: #fff468 !important;
    color: #282828 !important
}

.c4-alt,.c4-alt a {
    color: #fff468 !important
}

option.c4-alt:checked {
    background: #fff468 !important;
    color: #282828 !important
}

.c5,.c5 a {
    color: #fff !important
}

option.c5:checked {
    background: #fff !important;
    color: #282828 !important
}

.c5-alt,.c5-alt a {
    color: #fff !important
}

option.c5-alt:checked {
    background: #fff !important;
    color: #282828 !important
}

.c6,.c6 a {
    color: #c41e3a !important
}

option.c6:checked {
    background: #c41e3a !important;
    color: #282828 !important
}

.c6-alt,.c6-alt a {
    color: #f46 !important
}

option.c6-alt:checked {
    background: #f46 !important;
    color: #282828 !important
}

.c7,.c7 a {
    color: #0070dd !important
}

option.c7:checked {
    background: #0070dd !important;
    color: #282828 !important
}

.c7-alt,.c7-alt a {
    color: #36f !important
}

option.c7-alt:checked {
    background: #36f !important;
    color: #282828 !important
}

.c8,.c8 a {
    color: #3fc7eb !important
}

option.c8:checked {
    background: #3fc7eb !important;
    color: #282828 !important
}

.c8-alt,.c8-alt a {
    color: #3fc7eb !important
}

option.c8-alt:checked {
    background: #3fc7eb !important;
    color: #282828 !important
}

.c9,.c9 a {
    color: #8788ee !important
}

option.c9:checked {
    background: #8788ee !important;
    color: #282828 !important
}

.c9-alt,.c9-alt a {
    color: #8788ee !important
}

option.c9-alt:checked {
    background: #8788ee !important;
    color: #282828 !important
}

.c10,.c10 a {
    color: #00ff98 !important
}

option.c10:checked {
    background: #00ff98 !important;
    color: #282828 !important
}

.c10-alt,.c10-alt a {
    color: #00ff98 !important
}

option.c10-alt:checked {
    background: #00ff98 !important;
    color: #282828 !important
}

.c11,.c11 a {
    color: #ff7c0a !important
}

option.c11:checked {
    background: #ff7c0a !important;
    color: #282828 !important
}

.c11-alt,.c11-alt a {
    color: #ff7c0a !important
}

option.c11-alt:checked {
    background: #ff7c0a !important;
    color: #282828 !important
}

.c12,.c12 a {
    color: #a330c9 !important
}

option.c12:checked {
    background: #a330c9 !important;
    color: #282828 !important
}

.c12-alt,.c12-alt a {
    color: #a330c9 !important
}

option.c12-alt:checked {
    background: #a330c9 !important;
    color: #282828 !important
}

.c13,.c13 a {
    color: #33937f !important
}

option.c13:checked {
    background: #33937f !important;
    color: #282828 !important
}

.c13-alt,.c13-alt a {
    color: #33937f !important
}
