 body {
    font-family: 'Times New Roman', serif;
    color: #5a4a42; /* Couleur terreuse pour le texte */
    background-color: #f4efe8; /* Arrière-plan doux inspiré des toiles */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section .engage {
    border: 1px solid #d3c1a5; /* Accent doré */
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #3e322c; /* Plus sombre pour les titres */
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: #eae7e0; /* Fond subtil pour les options */
    border: 1px solid #d3c1a5; /* Encadrement doré */
    border-radius: 8px;
}

button {
    background-color: #b89f7d; /* Bouton inspiré du cuir */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a38768;
}

/* Style de base pour la section Prestige */
section {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6f6;
    color: #333;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h2 {
    color: #8a2be2;
    font-size: 24px;
}

p {
    line-height: 1.6;
}

/* Stylisation des articles produits */
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product h3 {
    color: #5d3ebc;
    font-size: 20px;
}

.product p {
    font-size: 16px;
}

button {
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7d1cb9;
}
