<div class="client">
    <div class="icon-with-level">
        <img src="https://wow.zamimg.com/images/wow/icons/large/inv_elemental_primal_life.jpg" alt="HP" class="hp-icon">
        <span class="level" id="current-age">28</span>
    </div>


    <h2>Heat <span id="life-value">x</span></h2>
    <div class="status-bar life-bar">
        <div class="status-bar-filled" id="life-bar-filled" style="width: 35%;" title="28/80"></div>
    </div>



    <script>
        // Calcul du pourcentage de temps de vie restant
        function calculateLifeRemaining(currentAge, lifeExpectancy) {
            var remainingYears = lifeExpectancy - currentAge;
            var percentageRemaining = (remainingYears / lifeExpectancy) * 100;
            return percentageRemaining.toFixed(2); // Arrondi à 2 décimales
        }

        // Mise à jour de l'affichage
        function updateLifeRemaining() {
            var currentAgeElement = document.getElementById("current-age");
            var currentAge = parseInt(currentAgeElement.textContent); // Âge actuel
            var lifeExpectancy = 80; // Espérance de vie moyenne

            var lifeValueElement = document.getElementById("life-value");
            var lifeBarFilledElement = document.getElementById("life-bar-filled");

            var percentageRemaining = calculateLifeRemaining(currentAge, lifeExpectancy);

            lifeValueElement.textContent = percentageRemaining + "%"; // Met à jour la valeur affichée
            lifeBarFilledElement.style.width = percentageRemaining + "%"; // Met à jour la longueur de la barre de progression
            lifeBarFilledElement.setAttribute("title", currentAge + "/" + lifeExpectancy); // Met à jour le titre de la barre de progression
        }

        // Appeler la fonction pour la première fois
        updateLifeRemaining();
    </script>


<div>
    <strong>Aliments dans la bouche:</strong> 
    <span id="calories-value">
        <span class="CAL">3K </span><em>1</em> / <span class="CAL">3K </span><em>4</em> calories restantes
    </span>
</div>
<div class="status-bar calories-bar">
    <div class="status-bar-filled" id="calories-bar-filled" style="width: 20%;" title="Calories /jour / Prise de masse musculaire: 20%"></div>
</div>
<style>
    .CAL { 
        color: #f1c40f; 
        font-weight: bold; 
    }
</style>


	<h2>Motivation <span id="energy-value">33</span> / 40</h2>
	<div class="status-bar energy-bar">
		<div class="status-bar-filled" id="energy-bar-filled" style="width: 82.500%;" title="Quêtes: 16 / 20"></div>
	</div>
</div>