<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

  <!-- Avatar and health/energy bars -->
    <div class="flex flex-col items-center">
      <!-- Avatar -->
      <img class="w-16 h-16 rounded-full border-2 border-yellow-300" src="https://64.media.tumblr.com/06be4be00ddb1f20e627b8f8b41caeb9/tumblr_o68u0vgd0p1qkpz2go1_r1_400.gif" alt="Character Avatar">
      <!-- Health bar -->
      <div class="w-16 bg-red-700 rounded mt-2">
        <div class="bg-red-500 text-xs leading-none py-1 text-center text-white" style="width: 70%;">70%</div>
      </div>
      <!-- Energy bar -->
      <div class="w-16 bg-blue-700 rounded mt-1">
        <div class="bg-blue-500 text-xs leading-none py-1 text-center text-white" style="width: 80%;">80%</div>
      </div>
    </div>

