<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Head 0</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">
    <!-- Sidebar-menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGJnZzQzNjFpMWJxNjN2dDg3NHl1N2dkOHp1cXk4a292eWRmbG83biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YRzQnWzbn4WIxd3ZYx/giphy.gif" style="width:45%;" class="w3-hide w3-circle">
            <br><br>
            <h4><b>PORTFOLIO</b></h4>
            <p class="w3-hide w3-text-grey" title="EXP">clear nights - dark nights</p>
        </div>

        <div class="w3-bar-block">
            <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
                <i class="fa fa-th-large fa-fw w3-margin-right"></i>Spells
            </a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
                <i class="fa fa-envelope fa-fw w3-margin-right"></i>Prompt
            </a>
        </div>
    </nav>
      <!-- Overlay effect when opening sidebar on small screens     
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
      -->



    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

      <%- include('../includes/UserName.ejs') %>
      <!-- Header -->
      <header id="portfolio">
        <div class="w3-hide-medium profile-header w3-black w3-container w3-round w3-hide-medium">

          <!-- Options de connexion -->
          <div class="connect-options w3-margin-top w3-center">

              <button class="w3-hide">Download Curriculum Vitae</button>
              <button class="w3-hide" onclick="">Connect with Google</button>
              <input type="email" id="e-mail" name="e-mail" value="@">
              <input type="tel" id="phone_number" name="phone_number" value="+33 " placeholder="Enter your phone number">
              <!-- Bouton pour créer un compte -->
              <i class="fa-solid fa-user-plus" id="back_camera" title="Create account" onclick="createAccount();"></i><br>
              <script>
                  function createAccount() {
                      console.log('Compte créé avec succès !');
                      alert('Compte créé avec succès !');
                      // Ajoutez d'autres actions ici selon vos besoins
                  }
              </script>

              <div id="SOCIAL_Media" class="">
                  <i class="w3-white w3-round fab fa-facebook-f w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-twitter w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-instagram w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-youtube w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-pinterest w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-snapchat-ghost w3-padding"></i> 
                  <i class="w3-white w3-round fab fa-tiktok w3-padding"></i> 
              </div>

          </div>

      </div>
      <div class="w3-hide w3-black w3-center w3-padding-16 w3-margin">Scan | Audio player | <a href="Superlink.com" title="Social media" target="_blank" class="w3-hover-opacity">My Social Medias here ☝️</a></div>

        <!-- TOPLEFT_DECISION <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
          style="background: linear-gradient(to bottom, transparent, navy);"
         -->

      
      <div class="w3-card w3-round w3-center w3-margin w3-padding-large" title="☢️Biology Container" >
        <!-- ☢️Biology(Adapt) -->
        <div class="w3-card w3-white w3-margin">

          
          <!-- Progress bars / Skills -->            
          <div class="w3-black">
            <div class="w3-round w3-green w3-padding w3-center" style="width:80%">❤️ <strong>Santé;</strong>80%</div>
          </div>


        </div>

        <div class="w3-card w3-hide-large w3-center w3-margin w3-padding-large" title="TIME">
          <iframe class="" src="https://flocus.com/minimalist-pomodoro-timer/" width="100%" height="300px" frameborder="0" scrolling="no"></iframe>
        </div>
          
        <div class="w3-card">
          <p>MONEY - Finance - Pouvoir d' (Achat)</p>
          <div class="w3-container w3-blue w3-padding w3-center" style="width:65%">65%</div>
          <div class="w3-container w3-red w3-padding w3-center" style="width:85%">85 k</div>
        </div>
 
      </header>

      <div class="w3-hide-small w3-card w3-hover-opacity-off w3-opacity w3-round w3-margin w3-padding-16"  style="cursor: wait;" title="How ? Message to Lucca..." >
        <div class="w3-section w3-padding-16">
          <span class="w3-margin-right">Filter:</span> 
          <button class="w3-button w3-black">ALL</button>
          <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
        </div>

        <!-- include Controller.ejs -->
        <nav class="w3-hide-large w3-section w3-center w3-padding-16">
          <button>A</button>
          <button>B</button>
          <button>X</button>
          <button>Y</button>
        </nav>


      
          <!-- First Photo Grid-->
          <div class="w3-hide w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
              <img src="https://www.w3schools.com/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
              <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
          </div>
          
          <!-- Second Photo Grid-->
          <div class="w3-hide w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
              <img src="https://www.w3schools.com/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
              <img src="https://www.w3schools.com/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <img src="https://www.w3schools.com/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Lorem Ipsum</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
          </div>

          <!-- 🧪Chemistry(React) Pagination -->
      
          <div class="w3-center w3-padding-32">
            <div class="w3-bar">

                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
              <a href="1" class="w3-bar-item w3-button w3-hover-black">True</a>
            <a href="3" class="w3-bar-item w3-black w3-button">🍀</a>
              <a href="0" class="w3-bar-item w3-button w3-hover-black">False</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>

            </div>
          </div>

        <div class="w3-hide-small w3-row-padding w3-padding-16" id="about">
          <div class="w3-col m6">
            <img src="https://www.w3schools.com/w3images/avatar_g.jpg" alt="Me" style="width:100%">
          </div>
          <div class="w3-hide">
            <img src="https://www.w3schools.com/w3images/me2.jpg" alt="Me" style="width:100%">
          </div>
        </div>

        <hr>
        <h4><b>Leo is writting...</b></h4>
        <p class="w3-hide-small">Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

        <hr>


      </div>







      <div class="w3-container w3-padding-large" style="margin-bottom:32px">

        

 
            
        <p>
          <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
            <i class="fa fa-cloud w3-margin-right"></i>Share | Download {Resume}
          </button>
        </p>
        <hr>

        <h4>What ?</h4>
        <h4 class="w3-hide-small">How much I charge</h4>
        <!-- Pricing Tables -->
        <div title="Echoppe" class="w3-row-padding w3-hide-large" style="margin:0 -16px">

          
          <script src="./0HTMLsquelette-batiment/Pricing_Table.js"></script>
          <div id="plansContainer"></div>
          
          <!-- 0HTML/Shopify.ejs<div id="product-description">Chargement de "[Ecommerce][@Shopify+Amazon]"...</div>-->

            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                <li class="w3-padding-16">Web Design</li>
                <li class="w3-padding-16">Photography</li>
                <li class="w3-padding-16">1GB Storage</li>
                <li class="w3-padding-16">Mail Support</li>
                <li class="w3-padding-16">
                  <h2>$ 10</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                </li>
              </ul>
            </div>
            
            <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                <li class="w3-teal w3-xlarge w3-padding-32">Pro</li>
                <li class="w3-padding-16">Web Design</li>
                <li class="w3-padding-16">Photography</li>
                <li class="w3-padding-16">50GB Storage</li>
                <li class="w3-padding-16">Endless Support</li>
                <li class="w3-padding-16">
                  <h2>$ 25</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                </li>
              </ul>
            </div>
            
            <div class="w3-hide-medium w3-third">
              <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                <li class="w3-padding-16">Web Design</li>
                <li class="w3-padding-16">Photography</li>
                <li class="w3-padding-16">Unlimited Storage</li>
                <li class="w3-padding-16">Endless Support</li>
                <li class="w3-padding-16">
                  <h2>$ 25</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                </li>
              </ul>
            </div>
            
            <div class="w3-third">
              <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                <li class="w3-black w3-xlarge w3-padding-32">infini</li>
                <li class="w3-padding-16">* Scan ID</li>
                <li class="w3-padding-16">** Background theme</li>
                <li class="w3-padding-16">** ☢️Biology</li>
                <li class="w3-padding-16">*** SupportGPT</li>
                <li class="w3-padding-16">
                  <h2>89 €</h2>
                  <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                  <button class="w3-button w3-teal w3-padding-large w3-hover-black">Sign Up</button>
                </li>
              </ul>
            </div>
        </div>
      </div>
      
      <!-- Social Section -->
      <div class="w3-black w3-container w3-hide-large w3-padding-large">
        <h4 id="contact"><b>Joins Us</b></h4>
        <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
          <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
            <p>email@email.com</p>
          </div>
          <div class="w3-third w3-teal">
            <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
            <p>Chicago, US</p>
          </div>
          <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
            <p>512312311</p>
          </div>
        </div>
        <hr class="w3-opacity">
        <form action="/action_page.php" target="_blank">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
        </form>
      </div>

      <!-- Footer -->
      <footer class="w3-container w3-padding-32 w3-dark-grey">
      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>DECISIONS{Actual_Spells}</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
      
        <div class="w3-hide-large w3-hide-medium w3-third">
          <h3>BLOG POSTS</h3>
          <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
              <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
              <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li> 
          </ul>
        </div>

        <div class="w3-third">
          <h3>Spells/Powers/Actions : </h3>
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
          </p>
        </div>

      </div>
      </footer>

     
      <div class="w3-black w3-center w3-padding-24">Generator|Create POST<a href="" title="" target="_blank" class="w3-hover-opacity">Transparent bg + CreatePost @Buff</a></div>
      <div class="w3-black w3-center w3-padding-24">Share with... /( Buff) : <a href="Superlink.com" title="Social media" target="_blank" class="w3-hover-opacity">Social Media</a></div>


    <!-- End page content -->
    </div>


    <script src="./3JSsysteme/DECISIONS-ACTIONPomodoroQuestLogSpell/open_and_close_sidebar.js">// Exemple Template de base W3C</script>
    <!-- include('0.ejs') -->
    <script src="SaaS.js">// DECISIONS / Quêtes + Pomodoro Timer --> pendant la partie</script>
    <script>
      window.onload = function() {
          const container = document.getElementById('plansContainer');
          plans.forEach(plan => {
              const planHtml = `
                  <div class="w3-third w3-margin-bottom">
                      <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
                          <li class="${plan.color} w3-xlarge w3-padding-32">${plan.name}</li>
                          <li class="w3-padding-16">${plan.design}</li>
                          <li class="w3-padding-16">${plan.photography}</li>
                          <li class="w3-padding-16">${plan.storage}</li>
                          <li class="w3-padding-16">${plan.support}</li>
                          <li class="w3-padding-16">
                              <h2>${plan.price}</h2>
                              <span class="w3-opacity">per month</span>
                          </li>
                          <li class="w3-light-grey w3-padding-24">
                              <button class="w3-button ${plan.color} w3-padding-large w3-hover-black">Sign Up</button>
                          </li>
                      </ul>
                  </div>
              `;
              container.innerHTML += planHtml;
          });
      };
      </script>

  </body>
    <!-- include('end/3JS') -->

</html>
