<div class="container content">
    <!-- Section existante : Pourquoi Infini ? -->
    <section class="section" aria-label="Pourquoi Infini ?">
        <h1>Transformez Votre Entreprise avec Infini : Expert en Solutions Numériques</h1>
        <p>Chez Infini, nous sommes convaincus que chaque idée a le potentiel d'être transformée en réalité avec un niveau d'excellence inégalé. Notre mission est de propulser les entreprises dans l'ère numérique grâce à des solutions innovantes qui marquent une réelle différence. Spécialistes en transformation numérique, nous mettons notre passion, notre créativité, et notre expertise technique au service de votre succès.</p>
    </section>

    <!-- Nouvelle section : Engagez-vous avec Infini -->
    <section class="section engage" aria-label="Engagez-vous avec Infini">
        <h2>Faites partie de notre famille</h2>
        <p>Découvrez comment Infini peut transformer votre entreprise. Profitez d'une consultation gratuite, abonnez-vous pour des insights exclusifs, ou explorez nos offres spéciales.</p>
        <div class="options">
            <article class="option">
                <h3>Consultation Gratuite</h3>
                <p>Prenez un rendez-vous pour discuter de votre projet avec nos experts. C'est le premier pas vers votre transformation numérique.</p>
                <button onclick="planifier()">Planifier Maintenant</button>
            </article>
            <article class="option">
                <h3>Newsletter Infini</h3>
                <p>Restez informé des dernières innovations et recevez des conseils exclusifs en vous abonnant à notre newsletter.</p>
                <button onclick="abonner()">S'abonner</button>
            </article>
            <article class="option">
                <h3>Offres Spéciales</h3>
                <p>Profitez d'offres limitées sur nos services premium et donnez un coup d'accélérateur à votre croissance.</p>
                <button onclick="decouvrir()">Découvrir</button>
            </article>
        </div>
    </section>
</div>

    <script>
        function planifier() {
            // Implémenter la logique pour planifier un rendez-vous
            alert("Planifier un rendez-vous.");
        }

        function abonner() {
            var email = prompt("Veuillez entrer votre adresse email pour vous abonner à la newsletter:", "");
        }


        function decouvrir() {
            // Implémenter la logique pour découvrir les offres spéciales
            alert("Découvrir les offres spéciales.");
        }
    </script>

